#alert{
    margin:50px 0px;
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: table;
    animation-duration: 0.2s;

}
#alert span{
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    color: #06d6a0;
}
#alert span svg{
    margin-right: 5px;
}
@keyframes table{
    from{transform: scale(0);}
    to{transform: scale(1);}
}
.table__content{
    padding: 15px 0px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: table;
    animation-duration: 0.2s;
}
.table__content h2{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.table__content div{
    overflow-x: auto;
    height: auto;
}

.table{
    width:800px;
    padding: 0px 55px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.table__head{
    width: auto;
    display: flex;
    border-right:1px solid gray;
}
.table__head div{
    width: 170px;
    height: 50px;
    font-weight: 600;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left:1px solid gray ;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.table_body_a{
    display: flex;

}
.table__body{
    border-right: 1px solid gray ;
}
.table__body div div{
    border-left:1px solid gray ;
    border-bottom: 1px solid gray;
    width: 170px;
    height: 100px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 3px;

}
.table__body div div img{
    height: 100%;
}
.table_cant, .table_op{
    width: 90px !important;
}
.table__body div .table_cant{
    width: 90px !important;
}

.table__body div .table_op{
    width: 90px !important;
}
.table__footer{
    display: flex;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
.table__footer div{
    width:90px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
}
.table__footer #total{
    justify-content: start;
    padding-left:20px ;
    font-size:20px ;
    width: 430px;
    border-right: 1px solid gray;
}
.table__footer #total_num{
    width: 170px;
    border-right: 1px solid gray;
}
.table__footer #comprar{
    background-color: #0ab98b;
    color: white;
    cursor: pointer;
}
.table__footer #comprar:hover{
    background-color: #04f5b5
}
#comprar a{
    text-decoration: none;
    color: white;
}
