.card{
    margin-left: 20px;
    margin-top: 20px;
    background: #8d99ae;
    height: auto;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 0px;
}
.card p{
    font-size: 15px;
}
.card__button{
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #edf2f4;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    font-weight: bold;
}
.card__button .button_change{
    font-size: 20px;
    cursor: pointer;
    background-color: #edf2f4;
    border: none;
}


.card__Add{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__Add button{
    border: none;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background-color: #293241;
    border: 1px solid white;
    transition: all 0.3s;
}
.card__Add button:hover{
    background-color: #3e4a5f;
    cursor: pointer;
}
