.Header{
    width: 100%;
    height: 70px;
    display: flex;
    padding: 0px 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #2C394B;
    color:  white;
    box-shadow: 0px 3px 8px -1px  #2C394B;
}
.Header__nav li{
    display: inline-block;

}
.Header__nav li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    margin: 0px 2px;
    cursor:  pointer;
}
.Header__nav li:hover{
    transform: scale(1.15);
    transition: all 0.2s ;
}
