.form_pago_content{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#Form{
    width: 80%;
    max-width:550px;
    height:480px;
    background-color: rgb(68, 136, 221);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tarjet_select{
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}
.tarjet{
    width: 250px;
    border-radius: 3px;
    border: none;
    height: 25px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: rgb(87, 148, 224);
}

.tarjet:active ,.tarjet:focus{
    outline: none;
}
.form_img img{
    object-fit: cover;
    height: 80px;
    width: auto;
}
.form_img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_body{
    width: 100%;
}
.form_body label{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: white;
    margin-left: 15px;
}
.form_body input{
    margin-left: 15px;
    width:70%;
    height: 35px;
    border: none;
    padding: 0px 10px;
    border-radius: 3px;
    background-color: rgb(87, 147, 223);
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
.form_body input:active,.form_body input:focus{
    outline: none;
    border: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

#pagar{
    width: 80%;
    height: 40px;
    background-color: #06d6a0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}
#pagar:hover{
    border: 1px solid white;
}

@media (max-width:600px){
    #Form{
        width: 90%;
        max-width:550px;
        height:480px;
        background-color: rgb(68, 136, 221);
        border-radius: 10px;
    }
    .tarjet{
        width: 180px;
        border-radius: 3px;
        border: none;
        height: 25px;
        font-size: 18px;
        text-align: center;
        color: white;
        background-color: rgb(87, 148, 224);
    }
}
@media (max-width:500px){
    .tarjet{
        width: 90px;
        height: 25px;
        font-size: 16px;
    }
    .tarjet_select{
        width: 100%;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 5px;
        color: white;
        font-size: 16px;
    }
}
@keyframes active{
    from{transform: scale(0);}
    to{transform: scale(1);}
}
#verify_datos{
    top: 0%;
    position: absolute;
    width: 100%;
    height: 106%;
    background-color: #29324191;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: active;
    animation-duration: 0.3s;
}
.esperando{
    width: 300px;
    height: 70px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fca311;
    box-shadow:0px 0px 8px 1px #fca311;
}
.esperando p{
    margin-left: 20px;
}
.finalizado{
    width: 280px;
    height: 90px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #06d6a0;
    box-shadow:0px 0px 8px 1px #06d6a0;
    color: white;
    animation: active;
    animation-duration: 0.3s;
}
.finalizado img{
    height: 50%;
    border: 1px solid white;
    border-radius: 100%;
}
.finalizado p{
    margin-left: 10px;
}
#redi{
    display: inline-block;
}